<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body style="background-color: azure;">
    <div class=" text-center">
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/list">Employees List</a>
      </li>
  </div>
  <div>
	  <a class="nav-link text-white" href="/new">Add new Employee</a>
  </div>
</nav>
	</div>
	<div class="container text-center mt-3">
		<h1 style="color:red">Employee Management System</h1>
		<hr/>
		<h4>The Employee Management System includes operations like adding new Employees into the Database, updating existing Employees, Delete Employees, Retrieving All Employees’ Data in the form of a Table and the final one is Delete All Employees. In This Article, we will learn about Employee Management systems such as EMS App or EMS. Mostly This Spring boot web application handles the Employee data and performs different operations on each Employee record in the database.

Prerequisites:
To understand this Employee Management System application, you need basic knowledge of below technologies:

Spring Boot
Thymeleaf
Mysql Driver
Other Spring MVC Patterns
Bootstrap Framework</h4>
		<center><img src="https://www.weberp4.com/images/oa_em.gif" alt="not found" width="400" height="400"/></center>
	</div>
   </body>
</html>